case "$(uname -sr)" in

   Darwin*)
     
     alias zzz='sudo shutdown -h' 
     alias nozzz='sudo killall shutdown'
     alias noshutdown='sudo killall shutdown'
     alias e='open ./' #MACOS
     # alias r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'

     ;;

   Linux*Microsoft*)
     echo 'WSL'  # Windows Subsystem for Linux

     # alias r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
     ;;

   Linux*)

     alias zzz='sudo shutdown -h' 
     alias zzzz='shutdown -c'
     alias noshutdown='shutdown -c'
     alias debian='distrobox-enter debian12-distrobox'
     alias flatpak-up='flatpak update -y && flatpak upgrade -y'
     alias updateall='sudo echo "Aktualizacja!" && flatpak update -y && flatpak upgrade -y && distrobox-upgrade -a && sudo pacman -Syu --noconfirm'
     # alias e='nautilus ./' #GNOME
     # alias e='nemo ./' #MINT
     # alias r='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
     
     # # Homebrew
     # eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

     ;;

   CYGWIN*|MINGW*|MINGW32*|MSYS*)
     echo 'MS Windows'
     ;;

   # Add here more strings to compare
   # See correspondence table at the bottom of this answer

   *)
     echo 'Other OS' 
     ;;
esac

######################
# Global Aliases
######################
alias cl='clear'

######################
# bat for other
######################
if command -v bat &>/dev/null; then
  # --style=plain - removes line numbers and git modifications
  # --paging=never - doesnt pipe it through less
  ialias catt='bat --paging=never --style=plain'
  alias cat='bat'
  ialias cata='bat --show-all --paging=never'
fi

######################
# bat for ubuntu
######################
if command -v batcat &>/dev/null; then
  # --style=plain - removes line numbers and git modifications
  # --paging=never - doesnt pipe it through less
  ialias catt='batcat --paging=never --style=plain'
  alias cat='batcat'
  ialias cata='batcat --show-all --paging=never'
fi

######################
# Eza
######################
if command -v eza &>/dev/null
then
  EZA_CONFIG_DIR='~/.config/eza/'
  ialias ls="eza --color=always --git -1 --no-filesize --icons=always --no-time --no-user --no-permissions"
  ialias ll='eza --long --all --bytes --git --git-repos --icons=auto'
  ialias lld='eza --long -D -H --all --bytes --octal-permissions --total-size --git --git-repos --icons=auto --no-permissions'
  ialias llf='eza --long -f -H --all --bytes --octal-permissions --smart-group --git --icons=auto --no-permissions'
  ialias tree='eza --tree --level=5 --icons=auto --git'
fi

######################
# Git
######################
ialias fsb='~/.scripts/fsb.sh'
ialias fshow='~/.scripts/fshow.sh'
alias glog="git log --graph --topo-order --pretty='%w(100,0,6)%C(yellow)%h%C(bold)%C(black)%d %C(cyan)%ar %C(green)%an%n%C(bold)%C(white)%s %N' --abbrev-commit"

######################
# Docker
######################
# alias dco="docker compose"
# alias dps="docker ps"
# alias dpa="docker ps -a"
# alias dl="docker ps -l -q"
# alias dx="docker exec -it"

######################
# neovim
######################
alias v='nvim'
ialias kvim='NVIM_APPNAME="kickstart-nvim" nvim'
ialias tvim='NVIM_APPNAME="test-nvim" nvim'


######################
# helix - dynamic theme
######################
alias hx-up='~/.config/helix/lib/bash.sh'
alias set-helix-theme='~/.config/helix/lib/bash.sh' # for consistency

######################
# Zoxide
######################
ialias cd='z'
alias cdi'zi'
alias cdd='cd -'

######################
# Directories
######################
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

ialias switch-kitty-mode='$HOME/.config/kitty/lib/switcher-light-dark.sh'
